/* ==========================================================================
Header
========================================================================== */
.header {
  height: 100px;
  width: auto;
  background-color: red;
}
